
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: rgb(136, 136, 136);
}

.ec-stars-wrapper:hover a {
	color: rgb(255, 251, 13);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: rgb(255, 238, 4);
}

.img{
	float: left;
}

#caja1{

    width: 190px;
	border: solid 1px #000;
	background-color: #ccc;
	padding: 5px;
	font-family: arial;
	margin-right: 10px;
	float:left;
}

@media screen and (max-width: 1200px) {
	.nav { 
		background-color: cadetblue;
	}
}
  