
/* INICIA CSS VENTANA MI PERFIL */
.img-circulo{
    /* background-color: white; */
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

#fondo{
    background-color: #F8F5F5;
}

#fondo2{
    background-color: white;
    /* border: 1px solid #3B5998; */
}


.seccion{
    background-color: beige;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* FINALIZA CSS VENTANA MI PERFIL */


