.imgCate{
  width: 100px;
  height: 100px;

}

.img_adm{
  width: 70px;
  height: 70px;
}


.btnr{
  width: 170px;
  height: 30px;
}

.activo{
  background-color: rgb(161, 238, 157) !important;
}

.inactivo{

  background-color: rgba(208, 81, 98, 0.72) !important  ;

}

.carousel-inner img {
  width: 70%;
  max-height: 500px !important;
}

.carousel-inner{
height: 500px !important;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #f8f9fa
}

@media only screen and (max-width : 600PX){

  body{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
  }

  h2{
    font-size: medium;
  }

  .imgCate{
    width: 170px;
    height: 170px;
  
  }

  .btnr{
    width: 170px;
    height: 30px;
  }
  .carousel-inner img {
    width: 70%;
    max-height: 200px;
  }
  
  .carousel-inner{
  max-height: 200px !important;
  }
  

}


.redondeado {
  border-radius: 10 px;
}

div .clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

div .clasificacion input {
  position: absolute;
  top: -100px;
}

div .clasificacion label {
  float: right;
  color: #333;  
  
}

div .clasificacion label:hover,
div .clasificacion label:hover ~ label,
div .clasificacion input:checked ~ label {
  color: rgb(19, 33, 231);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  /* background-color: #FFFFff; */
}

.topnav a {
  float: left;
  display: block;
  color:  #0530a6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}